
<!-------

<form >
  <mdb-checkbox >1</mdb-checkbox>
  <mdb-checkbox >2</mdb-checkbox>
</form>
<button mdbBtn color="primary" mdbWavesEffect (click)="getCheckboxesValue()">Get checkboxes value</button>
</div>

------->
<select class="mdb-select md-form" multiple>
    <option value="" disabled selected>Choose your country</option>
    <option value="1">USA</option>
    <option value="2">Germany</option>
    <option value="3">France</option>
    <option value="4">Poland</option>
    <option value="5">Japan</option>
  </select>
  <button class="btn-save btn btn-primary btn-sm">Save</button>  